<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启别名-->
    <typeAliases>
        <package name="com.kuang.pojo"/>
    </typeAliases>
    <!--扫描mapper.xml-->
    <mappers>
<!--        <mapper resource="com/kuang/dao/BookMapper.xml"/>-->
        <package name="com.kuang.dao"/>
    </mappers>

</configuration>